/* Reset basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.background {
    position: relative;
    height: 50vh; /* Covers half the viewport height */
    background-image: url('https://nutrition.umd.edu/img/cover.jpeg'); /* Replace with your image URL */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the background image */
    overflow: hidden;
}

.background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Dark to transparent fade */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 10%,rgba(0, 0, 0, 0.8) 20%,rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0) 70%); 
    z-index: 1; /* Place it above the background but below the text */
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif
    position: relative;
    color: #ffdd00;
    font-size: 4em;
    margin-top: 30px; /* Add margin to move the h1 down */
    margin-left: 40px;
    z-index: 2; /* Place it above the gradient overlay */
}
.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 0 10px; 
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}

/* Button container styling */
.button-container {
    margin-top: 20px;
}

.button-container button {
    padding: 12px 20px;
    font-size: 1rem;
    color: white;
    background-color: red; /* Bright yellow for button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    align-: center;
}

.button-container button:hover {
    background-color: #ebf800; /* Slightly darker yellow on hover */
    transform: scale(1.05); /* Slight scale effect on hover */
}

